body {
    background-color:#828385;
    }

    img { 
      display:block;
      border-radius: 30px;
      margin-top: 30px;
    
     }
    
    #image{
      max-width:100%;
      
    }
    
    
    
    
    .center {
      margin: auto;
      width: 50%;
      text-align:center;
    
    }
    
    
    #img-caption{
      font-size:10px;
      margin-top: 90px;
      
    
    }
    
    #tribute-link{
      color:#171a4a;
      font-weight:bold;
      text-decoration:none;
    
    }

   

    #tribute-info{
      margin: 25px;
    }

    h3{
      margin: 25px;
    }

    #img-div{
      border-radius: 20px;
    }

#title{
margin-top: 40px;

}  

#Description{

  margin-top: 20px;
}


@media only screen and (max-width: 425px) {
  img { 
    margin-top: 20px;
  height: 100px;
  width: 150px;
  margin-left: 13px;
   }

  }
